---
import { AstroComp } from "../lib/index";
---

<html>
  <head>
    <title>Example</title>
    <script src="./script.ts"></script>
  </head>
  <body>
    <h1>src/components/layout.astro</h1>
    <AstroComp />
    <slot />
  </body>
</html>
